* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height:100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-body);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color---site-background);
  height: 100%;
  &.menu-open {
	  overflow: hidden;
  }
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: var(--spacing-small);
  font-family: var(--font-heading);
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}

h1,.h1 {
  font-size: var(--font-extralarge);
  text-transform: uppercase;
  line-height: 1;
}

h2,.h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-light);
}

h3,.h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-light);
}

h4,.h4 {
  font-size: var(--font-medium);
  text-transform: uppercase;
}

h5 {
  font-size: var(--font-small);
}

h6 {
  font-size: var(--font-small);
}

p {
  font-size: var(--font-small);
  margin-bottom: var(--sp-m);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}
.otgs-development-site-front-end {
  display: none;
}

.post-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 18px;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}

/* Wordpress Overrides */
.wp-block-group.wp-block-group-is-layout-grid {
  gap: 0;
  grid-template-columns: 1fr;
  @media (min-width: 750px) {
    grid-template-columns: repeat(3,1fr);
  }
  @media (min-width: 1600px) {
    grid-template-columns: repeat(4,1fr);
  }
}