/* Layout */
.site-header {}
.site-content {}
.site-main {}

/* Utilities */
.container {
  width: var(--page-width);
  max-width: var(--page-width-tight);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
/* Header */
.site-branding {
}


.site-title {}

/* Footer */
.site-footer {
	.footer-widgets {
		display: flex;
		flex-wrap: wrap;
		gap: var(--sp-xxxl);
		padding-left: var(--page-margin);
  		padding-right: var(--page-margin);
		margin: var(--sp-xxxl) auto;
		.widget {
			min-width: 20.0rem;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
			a {
				color: var(--color-primary);
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}