.section-hero {
	min-height: 60vh;
}

.section-talks {
  margin-bottom: 10.0rem;;
}

.grid-card__content {
  padding: var(--sp-l);
  min-height: 40.0rem;
}
.grid-card__header {
  padding: var(--sp-l);
}

.section-intro {
  background-color: var(--color-primary-300);
}