/* ==============================================
 * Speakers
 * ============================================== */

.single-talk__speakers {
  padding: var(--sp-xxl) 0;
  background-color: var(--color-primary-300);
  h2 {
    margin-bottom: var(--sp-l);
    text-transform: uppercase;
  }
}

.speakers-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sp-xl);
}

.speaker-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sp-l);
  background: var(--color-light);
  border: 1px solid var(--color-primary-300);
  border-radius: var(--size-xxs);
  overflow: hidden;
  padding: var(--page-margin);
  
  @media (min-width: 750px) {
    grid-template-columns: 2fr 4fr;
    flex-direction: row;
  }
}

.speaker-card__image {
  img {
    display: block;
    height: auto;
    border-radius: var(--size-xxs);
    object-fit: cover;
    max-width: 100%;
  }
}

.speaker-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-xs);
}

.speaker-card__name {
  font-family: var(--font-heading);
  font-size: var(--fs-h3);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

.speaker-card__excerpt {
  font-size: var(--font-medium);
  color: var(--color-primary-700);
  line-height: 1.4;
  margin: 0;
  max-width: 60ch;
}

.speaker-card__bio {
  color: var(--color-primary-600);

  p {
    margin: 0 0 var(--sp-xs);
    max-width: 60ch;
  }
}
